<div class="mt-4">
    <form method="POST" , action="/api/auth/login">
        <div class="mb-3">
            <label for="user_name" class="form-label" name="user_name">User name is:</label>
            <input type="text" class="form-control" name="user_name" />
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" name="password" />
        </div>
        <button type="submit" class="btn btn-primary">Đăng nhập</button>
    </form>
</div>