<div class="mt-4">
    <form method="POST" , action="/api/house/register">
        <div class="mb-3">
            <label for="user_name" class="form-label">User name is:</label>
            <input type="text" class="form-control" name="user_name" />
        </div>
        <div class="mb-3">
            <label for="house_name" class="form-label">House Name is:</label>
            <input type="text" class="form-control" name="house_name" />
        </div>
        <button type="submit" class="btn btn-primary">Đăng ký</button>
    </form>
</div>