<div class="mt-4">
    <form method="POST" , action="/api/device/register">
        <div class="mb-3">
            <label for="device_name" class="form-label">Device Name is:</label>
            <input type="text" class="form-control" name="device_name" />
        </div>
        <div class="mb-3">
            <label for="device_type" class="form-label">Device Type is:</label>
            <input type="text" class="form-control" name="device_type" />
        </div>
        <div class="mb-3">
            <label for="device_id" class="form-label">Device MAC Address:</label>
            <input type="text" class="form-control" name="device_id" />
        </div>
        <div class="mb-3">
            <label for="device_image" class="form-label">Image:</label>
            <input type="text" class="form-control" name="device_image" />
        </div>
        <button type="submit" class="btn btn-primary">Đăng ký</button>
    </form>
</div>