<div class="mt-4">
    <form method="POST" , action="/api/sub_device/register">
        <div class="mb-3">
            <label for="sub_device_name" class="form-label">Sub Device Name is:</label>
            <input type="text" class="form-control" name="sub_device_name" />
        </div>
        <div class="mb-3">
            <label for="sub_device_type" class="form-label">Sub Device Type is:</label>
            <input type="text" class="form-control" name="sub_device_type" />
        </div>
        <button type="submit" class="btn btn-primary">Đăng ký</button>
    </form>
</div>